.event-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #ffffff;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.event-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Inner', sans-serif;
}

.event-card .event-location {
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Inner', sans-serif;
  color: black;
}

.event-card .event-image {
  max-height: 200px;
  object-fit: cover;
}

.event-card .badge {
  font-size: 0.85rem;
}

.event-card .badge.rounded-pill {
  background-color: black;
  color: #fff;
}
