<div class="container-fluid">
  <div class="card event-card mb-4">
    <div class="position-relative">
      <!-- TODO : mettre l'url directement de supabase ici et retirer le call de la requête en back car sinon le back télécharge et ensuite le frotn aussi !-->
      <img [src]="imageUrl ? imageUrl : 'https://m.media-amazon.com/images/I/41KHgm7DguL._AC_UF1000,1000_QL80_.jpg'" class="card-img-top img-fluid rounded-start event-image" alt="Event image">
      <div class="image-overlay" *ngIf="!imageUrl"></div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ event.title }}</h5>
      <p class="card-text">{{ event.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <small class="badge bg-dark text-light me-2">{{ event.location }}</small>
          <small class="text-muted">{{ event.date }}</small>
        </div>
        <button class="btn btn-primary" [routerLink]="['/event-details', event.id]">View Details</button>
      </div>
    </div>
  </div>
</div>
