.title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Arial Black', sans-serif;
    padding-left: 15px; 
}
  
.lead {
    padding-left: 15px; 
}
  
.btn-custom {
    background-color: #5f0388;
    border-color: #5f0388;
    color: #fff;
    font-family: 'Arial'; 
    font-weight: bold;
    font-size: 1rem; 
}
  
.btn-custom:hover {
    background-color: #470265;
    border-color: #470265;
}
  
.card {
    border: none;
    border-radius: 1rem;
}
  
.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}
  