<div class="page-wrapper">
<app-top-bar></app-top-bar>
<div class="container mt-4 event-details-container">
  <div *ngIf="event" class="row">
    <div class="col-lg-9">
      <div class="card mb-4 border-0">
        <div class="text-center title-container">
          <hr class="w-25 mx-auto border-black">
          <h2 class="inner-sans-serial">{{ event.title }}</h2>
          <hr class="w-25 mx-auto border-black">
          <p class="created-by">By: {{ event.createdBy.username }}</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411" />
          </svg>
          {{ event.location }}
          <br>
          <br>
          <div>
            <p class="badge text-bg-dark">{{ event.category.name }}</p>
            <span class="badge text-bg-dark">{{ event.dateTime }}</span>
          </div>
        </div>
        <div class="event-image-container">
          <img *ngIf="imageUrl" [appBlobToImage]="imageUrl" [src]="imageUrl" class="event-image" alt="Event Image">
        </div>
        <div class="card-body">
          <p class="card-text mt-3">{{ event.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 align-self-center">
      <ng-container *ngIf="isFutureEvent">
        <app-register-component></app-register-component>
      </ng-container>
      <ng-container *ngIf="!isFutureEvent">
        <div class="feedback-button-container">
          <div class="card rounded shadow-sm text-center p-3">
            <p class="mb-3">Want to give your feedback on this event?</p>
            <button *ngIf="event" class="btn btn-black btn-block"
              [routerLink]="['/feedbacks/create', { eventId: event.id }]">Feedback</button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!isFutureEvent">
    <div class="col-12">
      <app-feedback-list [eventId]="eventId"></app-feedback-list>
    </div>
  </div>
  <div><app-osm-map *ngIf="event && isFutureEvent" [location]="event.location"></app-osm-map></div>
</div>
</div>
<app-footer></app-footer>