<app-top-bar></app-top-bar>

<div class="container mt-4">
    <div *ngIf="event" class="row">
        <div class="col-lg-9">
            <div class="card mb-4 border-0">
                <img *ngIf="imageUrl" [src]="imageUrl" class="card-img-top" alt="Event Image">
                <div class="card-body">
                    <h2 style="font-family: Arial;">{{ event.title }}</h2>
                    <p> {{ event.location }}</p>
                    <p>Created by : {{ event.createdBy.username }}</p>
                  
                        <span class="badge text-bg-dark">{{ event.date }}</span>
                        <span class="badge text-bg-dark">{{ event.time }}</span>
                        <span class="badge text-bg-dark">{{ event.category.name }}</span>
          
                    <p class="card-text mt-3">{{ event.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registration</h5>
                    <p class="card-text">Sign up for this event!</p>
                    <button *ngIf="!isRegistered" class="btn btn-success btn-block" (click)="registerForEvent()">Register</button>
                    <div *ngIf="isRegistered" class="alert alert-success mt-3" role="alert">
                        You are registered for this event.
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Registrations</h5>
                    <ul class="list-group">
                        <li *ngFor="let registration of registrations" class="list-group-item d-flex justify-content-between align-items-center">
                            User ID: {{ registration.user.username }}
                            <button *ngIf="registration.user.id === userId" class="btn btn-danger btn-sm" (click)="unregisterFromEvent(registration.registrationId)">Unregister</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
