<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by event title" [(ngModel)]="searchTitle"
          name="searchTitle">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <input type="date" class="form-control" [(ngModel)]="searchDate" name="searchDate">
        </div>
        <div class="col-md-4">
          <select class="form-select" [(ngModel)]="selectedCategory" name="selectedCategory">
            <option value="">Select category...</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-secondary w-100" type="button" (click)="onSearch()">Search</button>
        </div>
        <div class="col-md-2">
          <button class="btn btn-outline-secondary w-100" type="button" (click)="resetFilters()">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>