.login {
    background-color: white;
    min-height: 100vh;
    padding: 2rem;
}

.create-account {
    color: black;
    font-weight: bold;
    font-size: 1.10rem;
    font-family: 'Inner', sans-serif;
}

.bg-image {
    background-image: url('https://plcicgnimviruexqcyqv.supabase.co/storage/v1/object/sign/event-image/the_events.png?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJldmVudC1pbWFnZS90aGVfZXZlbnRzLnBuZyIsImlhdCI6MTcxOTMwODgyNiwiZXhwIjoxNzIxOTAwODI2fQ.ju_HL6Vl_y6gX2BVTLtzAbbXMScm0bGd1T-BIdu9weQ&t=2024-06-25T09%3A47%3A03.609Z');
    background-size: cover;
    background-position: center;
}

.login-heading {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Inner', sans-serif;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    font-family: 'Inner', sans-serif;
}

.btn-login.custom-purple {
    background-color: #08090C;
    border-color: #08090C;
    color: #fff;
}

.btn-login.custom-purple:hover {
    background-color: #fff;
    border-color: #08090C;
    color: #08090C;
}

.btn-login.btn-outline-secondary:hover {
    background-color: #08090C;
    border-color: #08090C;
    color: #fff;
}

.border-gray {
    border-color: black;
}