<!-- forgot-password.component.html -->
<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex flex-column justify-content-center align-items-center py-5">
                <div class="container">
                    <div class="text-center mb-4">
                        <h2 class="login-heading mb-4">THE EVENT'S</h2>
                        <hr class="w-25 mx-auto border-black">
                        <h3 class="create-account">Reset your password !</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <form (ngSubmit)="resetPassword()">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="floatingEmail" name="email"
                                        placeholder="name@example.com" [(ngModel)]="email" required>
                                    <label for="floatingEmail">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingNewPassword"
                                        name="newPassword" placeholder="New Password" [(ngModel)]="newPassword"
                                        required>
                                    <label for="floatingNewPassword">New Password</label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-login text-uppercase fw-bold mb-2 custom-purple"
                                        type="submit">Reset Password</button>
                                    <button class="btn btn-lg btn-login text-uppercase fw-bold mb-2 custom-purple"
                                        routerLink="/sign-in">Back to sign-in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>