<app-top-bar></app-top-bar>

<div class="container-fluid my-2">
  <div class="row mb-4" *ngIf="user">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <div>
        <h2 class="title">Here is the list of the events you attend !</h2>
        <p class="lead">You can give a feedback on those events.</p>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <ng-container *ngFor="let event of events; index as i">
      <div class="col">
        <app-event-list-item [event]="event"></app-event-list-item>
      </div>
    </ng-container>
  </div>
</div>