<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/event-list']">
      <div class="d-flex align-items-center">
        <div class="rounded-circle overflow-hidden" style="width: 40px; height: 40px;">
          <img src="https://media.discordapp.net/attachments/1149656526076776468/1254485522877775872/jajouu_logo_rond_esthetique_abrupte_blanc_violet_fond_noir_site_50c086fb-4f6b-4147-a1c9-2de2d4549e4b.png?ex=6679aa2f&is=667858af&hm=8376049e9fccbbbf88db9c94414e45f04a276de1e4250a17bb4acb3aa7caee1c&=&format=webp&quality=lossless&width=437&height=437" alt="Logo" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <span class="ms-2">Event's Core</span>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/event-list']">Upcoming events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/past-event-list']">Your past events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/feedback']">Your profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
