<app-top-bar></app-top-bar>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <hr class="w-25 mx-auto border-black">
      <h3 class="inner-sans-serial-font">Ajouter un Feedback</h3>
      <hr class="w-25 mx-auto border-black">
      <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="rating">Note</label>
          <input type="number" class="form-control" id="rating" name="rating" [(ngModel)]="rating" required
            [ngClass]="{'is-invalid': feedbackForm.submitted && !ratingValid(), 'is-valid': feedbackForm.submitted && ratingValid()}">
          <div class="invalid-feedback" *ngIf="feedbackForm.submitted && !ratingValid()">
            La note est obligatoire et doit être un nombre.
          </div>
        </div>
        <div class="form-group">
          <label for="comment">Commentaire</label>
          <textarea class="form-control" id="comment" name="comment" [(ngModel)]="comment" required minlength="10"
            maxlength="500"
            [ngClass]="{'is-invalid': feedbackForm.submitted && !commentValid(), 'is-valid': feedbackForm.submitted && commentValid()}"></textarea>
          <div class="invalid-feedback" *ngIf="feedbackForm.submitted && !commentValid()">
            Le commentaire est obligatoire et doit avoir entre 10 et 500 caractères.
          </div>
        </div>
        <button type="submit" class="btn btn-black" [disabled]="!feedbackForm.valid">Soumettre</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>